{
  "parser": "babel-eslint",
  "rules": {
    "extends": "airbnb-base",
    "env": {
      "browser": true,
      "jquery": true,
      "es6": true
    },
    "rules": {
      "indent": [
        2,
        4
      ],
      "prefer-destructuring": [
        "error",
        {
          "VariableDeclarator": {
            "array": false,
            "object": false
          },
          "AssignmentExpression": {
            "array": false,
            "object": false
          }
        },
        {
          "enforceForRenamedProperties": false
        }
      ],
      "no-param-reassign": "off",
      "no-restricted-globals": [
        0
      ],
      "no-useless-escape": "off",
      "no-restricted-syntax": [
        0
      ],
      "no-prototype-builtins": "off",
      "guard-for-in": "off"
    }
  }
}
