body {
    background: url("image/back.png") no-repeat fixed center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

header {
    background: url("image/killmepls.png");
    height: 200px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1em;
    min-height: 500px;
    width: 800px;
    margin: auto;
}

.backspace {
    background-color: lightgrey;
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
}
.backspaceIcon{
    display: block;
    align-self: center;
    background-image: url("image/backspaceIcon.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.file {
    background-color: white;
    height: inherit;
}

.file a {
    display: block;
    color: deeppink;
    width: inherit;
    height: 100%;
}

.filename {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}
.folderWrapper{
    height: 50px;
}
.folder {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}
.folderName {
    display: block;
    align-self: center;
}

.folder p {
    color: #3e4eff;
}

.folderIcon {
    display: block;
    align-self: center;
    background-image: url("image/folderIcon.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.sidebar__content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1000px;
        height: 700px;
    }
}

@media screen and (max-width: 800px) {
    header {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .container {
        grid-template-rows: 100px 1fr;
        grid-gap: 1em;
    }

    .content {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

}