body {
    background: url("image/back.png") no-repeat fixed;
    background-position: center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}

header {
    background: url("image/killmepls.png");
    height: 200px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

.sidebar {
    border: 1px solid red;
}

.content {
    display: flex;
    border: 1px solid cadetblue;
}

.file {
    display: flex;
    background-image: url("image/item_bcg.jpg");
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;

}

.file > p {
    margin: auto 10px;
    color: deeppink;
}

.folder {
    display: flex;
    background-image: url("image/item_bcg.jpg");
    height: 50px;
    margin-bottom: 5px;
    padding: 5px;

}

.folder > p {
    margin: auto 10px;
    color: deeppink;
}

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}