body {
    padding: 7px;
    background: url("image/back.png") no-repeat fixed center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

header {
    background: url("image/killmepls.png");
    height: 200px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
}

.container {
    display: flex;
    min-height: 500px;
}

.backspace {
    background-color: lightgrey;
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
}

.backspaceIcon {
    display: block;
    align-self: center;
    background-image: url("image/backspaceIcon.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.content {
    display: flex;
    flex: 9;
    padding-left: 15px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;

    margin: 0 15px 15px 0;
}

.fileIcon {
    background: url("image/fileIcon.png") no-repeat;
    width: 128px;
    height: 128px;
    flex-basis: content;
}

.filename {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}

.folderWrapper {
    height: 50px;
}

.folder {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.folderName {
    display: block;
    align-self: center;
}

.folder p {
    color: #3e4eff;
}

.folderIcon {
    display: block;
    align-self: center;
    background-image: url("image/folderIcon.png");
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

.sidebar {
    flex: 0 0.5 300px;
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .content {
        justify-content: space-between;
        padding: 0;
    }
    .file{
        margin-right: 0;
    }
}