{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'css/sdasd.css'%}">

</head>
<body>
    <div class="results">
        <div   id="question" > </div>
        <ul class="answers">

        </ul>

    </div>
</body>
<script>

    var url_pattern = "http://127.0.0.1:8000/api/get-folder/2";
    $.getJSON(url_pattern, function (data) {

    console.log(data);
    var question_data = $.parseJSON(data.child_folders);
    console.log(question_data.folder)
    console.log(question_data.child_folder)
    console.log(question_data.child['fields'])
});



</script>

</html>