{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>M3208</title>
</head>
<body>
<header></header>
<div class="container">
    <div class="sidebar">
        <div class="backspace">Вернуться назад</div>
        <div class="sidebar__content"></div>
    </div>
    <div class="content">
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
<script type="html/tpl" id="files">
    <div class="file">
        <a href="{link}">{name}</a>
    </div>
</script>
<script type="html/tpl" id="template-folders">
    <div class="item" data-id="{id}">
        <div class="folder hvr-fade" ><p>{name}</p></div>
    </div>

</script>

</body>
</html>